In [1]:
%matplotlib inline
import sys
sys.path.append("../src/")
from sgpi.util import scale, transform_cox
from sgpi.plot import plot_cox_df
import pandas as pd

	Name		Data Type	Meas.	Description
	----		---------	-----	-----------
        Sex		nominal			M, F, and I (infant)
	Length		continuous	mm	Longest shell measurement
	Diameter	continuous	mm	perpendicular to length
	Height		continuous	mm	with meat in shell
	Whole weight	continuous	grams	whole abalone
	Shucked weight	continuous	grams	weight of meat
	Viscera weight	continuous	grams	gut weight (after bleeding)
	Shell weight	continuous	grams	after being dried
	Rings		integer			+1.5 gives the age in years

In [2]:
names = ['sex', 'length' , 'diameter', 'height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight', 'rings']
df = pd.read_csv('../datasets/raw/abalone/abalone.data.txt', names=names)

In [3]:
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [4]:
df = pd.get_dummies(df)
_, df = scale(df)

In [5]:
#lambdas = plot_cox_df(df)

In [6]:
lambdas = { 'diameter': 3.2163821798943193,
            'height': -1.9914054656190996,
            'length': 3.3648670820916347,
            'rings': -2.4427100995240263,
            'sex_F': 1,
            'sex_I': 1,
            'sex_M': 1,
            'shell_weight': -1.1448450483002799,
            'shucked_weight': -1.4107540627818103,
            'viscera_weight': -1.2542787866665741,
            'whole_weight': -0.76682358269227757}

In [7]:
df = transform_cox(df, lambdas)

In [8]:
df.describe()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,sex_F,sex_I,sex_M
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.443564,0.439081,0.273235,0.409840,0.393153,0.378816,0.372501,0.584013,0.312904,0.321283,0.365813
std,0.171399,0.173175,0.066539,0.201984,0.194191,0.188509,0.179829,0.124594,0.463731,0.467025,0.481715
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.319579,0.319655,0.234494,0.254685,0.244382,0.232230,0.235236,0.514914,0.000000,0.000000,0.000000
50%,0.454837,0.450499,0.277253,0.421241,0.399448,0.386237,0.387480,0.562160,0.000000,0.000000,0.000000
75%,0.571989,0.561949,0.317565,0.559407,0.538737,0.520542,0.504374,0.644216,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
t = pd.read_excel('../datasets/raw/concrete/Concrete_Data.xls', 
            names=["cement", "blast_slag", "fly_ash", "water", "superplasticizer", "coarse_aggregate", "fine_aggregate",
            "age", "compressive_strength"])
t.columns = ["cement", "blast_slag", "fly_ash", "water", "superplasticizer", "coarse_aggregate", "fine_aggregate",
            "age", "compressive_strength"]

In [34]:
t.describe()

,cement,blast_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,compressive_strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225